.UserPage {
  text-align: center;
}

.UserPage-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.UserPage-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.UserPage-title {
  font-size: 1.5em;
}

.UserPage-intro {
  font-size: large;
}

.rbc-header {
  color: white;
  background-color: #2b9dda;
  border-radius: 4px;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: green;
}

.rbc-time-slot {
  color: #2b9dda;
  z-index: 1;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  background-color: #2b9dda;
}

.billInfo {
  background-color:white; /* Solid background color */
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  max-width: 90vw; /* Ensure it doesn’t overflow too much horizontally */
  color: black; /* Make sure the text is visible on the background */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Add a subtle shadow for depth */
  margin: auto; /* Center the popup within the screen */
  font-family: Arial, sans-serif; /* Ensure a clean and readable font */
}

.buttons {
  background-color: #2b9dda; /* Match the button color to your calendar's theme */
  color: white;
  /* padding: 10px 15px; */
  font-size: 1rem;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    background-color: #0056b3;
  }
}

.billInfo h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.billInfo p {
  margin: 8px 0;
  font-size: 1.1em;
}

.billInfo .buttons-container {
  display: flex;
  justify-content: space-between; /* Evenly spaces the buttons */
  gap: 10px; /* Adds some space between the buttons */
  margin-top: 15px; /* Adds space between the input fields and the buttons */
}

/* Form input styling */
input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 7px 5px;
  border: none;
  border-bottom: 2px solid #2b9dda;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  margin: 0;
  flex: 1; /* Make the inputs responsive */
}

input[type="text"] {
  margin-right: 10px; /* Add space between input fields */
}

input[type="number"] {
  margin-right: 10px;
}

input[type="date"] {
  margin-right: 10px;
} 

/* Button styling */
.addBillButton {
  background-color: #2b9dda; /* Match the button color to your calendar's theme */
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* Prevent the button from shrinking */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-bottom-color: #0056b3; /* Change the bottom border color when focused */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
